::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track:vertical {
  background-color: transparent;
  border: none;
}

::-webkit-scrollbar-thumb:vertical {
  background-color: #a8a8a8;
  border-radius: 10px;
}

::-webkit-scrollbar-button:vertical:single-button {
  background-color: #bbbbbb;
  display: block;
  border-style: solid;
  height: 13px;
  width: 16px;
}

::-webkit-scrollbar-button:single-button:vertical:increment {
  border-width: 8px;
  border-color: white white#bbbbbb White;
}

::-webkit-scrollbar-button:single-button:vertical:decrement {
  border-width: 8px 8px 0px 8px;
  border-color: #bbbbbb White White White;
}

::-webkit-scdrollbar-button:single-button:horizontal {
  display: none;
  background-color: #0038ff;
}

body {
  font-family: "Inter", sans-serif;
  overflow: hidden;
}

.inputField::-webkit-outer-spin-button,
.inputField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.contacts {
  width: 100%;
}

.contacts-headline-h1 {
  font-size: 42px;
  font-weight: 700;
}

.nameCard {
  font-size: 40px;
  margin-bottom: 6px;
  font-weight: 500;
}

.headline-h3 {
  font-size: 24px;
  font-weight: 300;
}

hr {
  margin-right: 32px;
  margin-left: 3px;
  margin-top: 12px;
  margin-bottom: 12px;
  border-color: rgba(231, 231, 231, 0.4);
}

.line {
  width: 3px;
  height: 55px;
  background-color: #2aaae2;
  margin-left: 24px;
  margin-right: 24px;
}

.contacts-content {
  display: flex;
  justify-content: center;
  width: 100%;
}

.contact-list {
  margin-left: 280px;
  margin-top: 10px;
  width: 30%;
  height: calc(100vh - 96px);
  -webkit-box-shadow: 3px 0px 4px -4px rgba(77, 77, 77, 0.53);
  -moz-box-shadow: 3px 0px 4px -4px rgba(77, 77, 77, 0.53);
  box-shadow: 3px 0px 4px -4px rgba(77, 77, 77, 0.53);
  overflow: scroll;
}

.contact-details {
  margin-top: 0px;
  width: 60%;
  height: calc(100vh - 96px);
  background-color: #f6f7f8;
  padding-left: 36px;
}

.add-contact {
  background-color: #293647;
  color: white;
  padding-right: 42px;
  padding-left: 42px;
  cursor: pointer;
  border: 1px;
  border-radius: 9px;
  width: 90%;
  margin-top: 24px;
  height: 42px;
  font-size: 15px;
  font-weight: 600;
}

.addContactBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
}

.editContactBackground {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
}

.add-contact:hover {
  background-color: #2aaae2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.addCircle {
  border-radius: 100px;
  background-color: #d1d1d1;
  width: 90px;
  height: 90px;
  margin-top: 170px;
  border: solid 1px white;
  margin-left: 55px;
  margin-right: 55px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.addCircle-image {
  margin: 29px;
  width: 30px;
}

.add-contact-main {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.add-contact-image {
  height: 24px;
  margin-left: 24px;
}

.contact-details-headline {
  display: flex;
  align-items: center;
  margin-left: 24px;
  margin-top: 100px;
}

.nameIdList {
  font-size: 16px !important;
  margin: 7px !important;
}

.nameIdEdit {
  font-size: 48px;
  font-weight: 300;
  margin: 14px;
}

.circle {
  border-radius: 100px;
  width: 36px;
  height: 36px;
  margin: 12px;
  text-align: center;
  color: white;
  border: solid 1px white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.editCircle {
  border-radius: 100px;
  width: 90px;
  height: 90px;
  text-align: center;
  color: white;
  margin-top: 170px;
  border: solid;
  margin-left: 60px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact-info {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  width: 90%;
  height: 65px;
  margin-bottom: 12px;
}

.contact-info:hover {
  background-color: rgba(128, 128, 128, 0.097);
}

.contact-info-right {
  display: flex;
  flex-direction: column;
  width: 80%;
}

.contact-info-left {
  margin: 10px;
}

.contact-info-mail {
  color: #55a5f4;
}

.circleCard {
  border-radius: 100px;
  width: 90px;
  height: 90px;
  margin: 12px;
  text-align: center;
  color: white;
  border: solid white 3px;
  margin-right: 36px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nameId {
  font-size: 36px;
  margin: 22px;
}

.contactCard {
  margin-left: 24px;
  margin-top: 24px;
}

.buttonsCard {
  display: flex;
}

.contactNameButtons {
  display: flex;
  flex-direction: column;
  margin-top: 21px;
}

.contactTitle {
  display: flex;
  margin-bottom: 24px;
}

.textCard {
  font-size: 18px;
  margin-bottom: 36px;
}

.head-info {
  margin-bottom: 12px;
  margin-top: 12px;
  font-weight: bold;
}

.main-info-mail {
  color: #459df0;
}

.d-none {
  display: none;
}

.addContactLeft {
  background-color: #2b3646;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
  width: 380px;
}

.addContactPopup {
  width: 80vw;
  left: 160px;
}

.addContactRight {
  background-color: white;
  width: 440px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.addContactMain {
  display: flex;
  flex-direction: row;
  height: 460px;
  border-radius: 36px;
  margin-left: 80px;
  margin-right: 80px;
}

.addContactHeadline {
  color: white;
  font-size: 45px;
  margin-top: 12px;
  margin-left: 30px;
}

.addContactHeadline2 {
  color: white;
  font-size: 21px;
  font-weight: 200;
  margin-left: 30px;
  margin-top: 12px;
}

.line2 {
  background-color: #2aaae2;
  width: 70px;
  height: 2px;
  margin-left: 40px;
  margin-top: 12px;
}

.line3 {
  background-color: #2aaae2;
  width: 70px;
  height: 2px;
  margin-left: 30px;
  margin-top: 12px;
}
.input {
  display: flex;
  flex-direction: column;
  margin-top: 36px;
}

.inputField {
  border: unset;
  width: 348px;
  border-radius: 12px;
  padding: 0;
  height: 36px;
  padding-left: 12px;
  margin-right: -70px;
  font-size: 15px !important;
}

.inputField:hover {
  border: 2px solid #2aaae2 !important;
}

.inputField:focus {
  border: 2px solid #2aaae2 !important;
}

.formDiv {
  margin-top: 80px;
  margin-bottom: 80px;
  margin-right: 24px;
}

.editContactLeft {
  background-color: #2b3646;
  width: 380px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

.editContactPopup {
  width: 80vw;
  left: 160px;
  font-weight: 700;
}

.editContactRight {
  background-color: white;
  width: 440px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.editContactMain {
  display: flex;
  flex-direction: row;
  height: 460px;
  border-radius: 36px;
  margin-left: 80px;
  margin-right: 80px;
}

.editContactHeadline {
  color: white;
  font-size: 50px;
  margin-left: 40px;
  margin-top: 24px;
}

.editContactMiddle {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 200px;
}

.addContactMiddle {
  display: flex;
  flex-direction: row;
  background-color: white;
  width: 200px;
}

.editContactLogo {
  margin-top: 120px;
  margin-left: 40px;
  width: 50px;
}

.addContactLogo {
  margin-top: 100px;
  margin-left: 40px;
  width: 50px;
}

.editCard {
  position: relative;
  cursor: pointer;
  margin-right: 18px;
  align-items: center;
}

.editCard-mini {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-left: 12px;
  margin-top: 12px;
  margin-bottom: 6px;
  cursor: pointer;
}

.mini-popup-editCard {
  margin-bottom: -6px;
}

.deleteCard-mini {
  margin-left: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 6px;
  margin-bottom: 12px;
  cursor: pointer;
}

.logo-mini {
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
  height: 18px;
  margin-right: 6px;
}

.logo-mini-hover {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  margin-bottom: -4px;
}

.logo-mini-hover-2 {
  width: 25px !important;
  height: 25px !important;
}

.textEdit-2 {
  margin-bottom: -6px !important;
}

.textEdit-2:hover {
  font-weight: 700;
  cursor: pointer;
}

.logo-mini-hover {
  display: none;
}

.editCard:hover {
  color: #2aaae2;
  font-weight: 500;
}

.textEdit {
  margin-bottom: 6px;
  cursor: pointer;
}

.textEdit:hover {
  color: #2aaae2;
}

.deleteCard {
  position: relative;
  cursor: pointer;
  margin-right: 18px;
  align-items: center;
}

.deleteCard:hover {
  color: #2aaae2;
  font-weight: 500;
}

.cancel-button-div {
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  margin-right: 18px;
  align-items: center;
  margin-left: 3px;
}

.cancel-img-black {
  width: 20px;
  height: 20px;
  margin-bottom: -4px;
}

.cancel-img-blue {
  width: 20px;
  height: 20px;
  margin-right: 6px;
  margin-bottom: -4px;
}

.cancel-img-blue {
  display: none;
}

.editButtons:hover {
  color: #2aaae2;
  font-weight: 500;
}

.cancel-text {
  font-size: 15px;
}

.editButtons {
  display: flex;
  flex-direction: row;
  font-size: 15px;
}

.group-header {
  margin-left: 36px;
}

.close-img {
  position: relative;
  cursor: pointer;
  border-radius: 100%;
  height: 30px;
  width: 30px;
}

.close-img:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.close-img-div {
  display: flex;
  justify-content: flex-end;
  margin-top: -48px;
  margin-right: 18px;
}

.logo-edit-input {
  width: auto;
  height: 18px;
  margin-right: 24px;
}

.inputFieldName {
  display: flex;
  border: 1px solid #d9d9d9;
  height: 36px;
  margin-bottom: 30px;
  border-radius: 9px;
  justify-content: space-between;
  width: 360px;
  align-items: center;
}

.deleteButton {
  width: 70px;
  height: 35px;
  border: 1px solid #293647;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  margin-right: 12px;
  font-size: 15px;
}

.deleteButton:hover {
  border: 1px solid #2aaae2;
  color: #2aaae2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.closeButton:hover {
  border: 1px solid #2aaae2;
  color: #2aaae2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.createButton:hover {
  background-color: #2aaae2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #2aaae2;
}

.saveButton {
  width: 80px;
  height: 35px;
  border: 1px solid #293647;
  border-radius: 6px;
  background-color: #293647;
  cursor: pointer;
  margin-right: 12px;
  color: white;
  font-size: 15px;
}

.closeButton {
  width: 90px;
  height: 40px;
  border: 1px solid #293647;
  border-radius: 6px;
  background-color: white;
  cursor: pointer;
  margin-right: 12px;
}

.createButton {
  width: 150px;
  height: 40px;
  border: 1px solid #293647;
  border-radius: 6px;
  background-color: #293647;
  cursor: pointer;
  margin-right: 12px;
  color: white;
}

.saveButton:hover {
  background-color: #2aaae2;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border: 1px solid #2aaae2;
}
.save-button-div {
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.create-button-div {
  display: flex;
  align-items: center;
  margin-left: 3px;
}

.save-check-img {
  width: 18px;
  margin-left: 4px;
}

.create-img {
  width: 18px;
}

.create-text {
  font-size: 15px;
}

.success {
  display: block !important;
  position: fixed;
  bottom: 50px;
  border-radius: 12px;
  width: 250px;
  right: -200%;
  background-color: #293647;
  color: white;
  text-align: center;
  padding: 23px;
  transition: right 0.5s ease-in-out;
}

.success.show {
  right: 500px;
}

.button-add-contact-mobile {
  display: none;
}

.closeAddContact-mobile {
  display: none;
}
.line4 {
  display: none;
}

.button-edit-contact-mobile {
  display: none;
}

.closeEditContact-mobile {
  display: none;
  cursor: pointer;
}

.mini-popup {
  display: none;
  position: fixed;
  bottom: 100px;
  right: 12px;
  border: solid 1px white;
  background-color: white;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  height: 90px;
  width: 100px;
  transition: right 1s ease-in-out;
}

.mini-popup-display {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  cursor: pointer;
}

.contacts-headline-arrow {
  display: none;
}

.success-2 {
  display: none;
  position: fixed;
  bottom: 100px;
  left: 10%;
  transform: translateX(-50%);
  width: 250px;
  text-align: center;
  background-color: #2b3646;
  color: #fff;
  padding: 23px;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease-in-out;
}

.success-2.slide-top {
  transform: translateY(-100%);
}

.slide-left {
  animation: slide-left 0.5s linear both;
}
.slide-top {
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-left {
  0% {
    transform: translateX(400px);
    -webkit-transform: translateX(400px); /* Für Webkit-basierte Browser */
    -moz-transform: translateX(400px); /* Für Firefox */
  }
  100% {
    transform: translateX(0px);
    -webkit-transform: translateX(0px); /* Für Webkit-basierte Browser */
    -moz-transform: translateX(0px); /* Für Firefox */
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}

@media (max-width: 1300px) {
  .contact-list {
    margin-top: 10px;
    width: 43%;
  }
  .contact-details {
    margin-top: 0;
  }
  .editContactPopup {
    margin-left: 12px;
    left: 0;
  }
  .editContactMain {
    margin-left: 0;
    margin-right: 0;
  }
  .editContactLeft {
    width: 40vw;
  }
  .editContactMiddle {
    width: 20vw;
  }
  .editContactRight {
    width: 38vw;
  }
  .inputField {
    width: 303px;
  }
  .inputFieldName {
    width: 317px;
  }
  .addContactPopup {
    margin-left: 12px;
    left: 0;
  }
  .addContactMain {
    margin-left: 0;
    margin-right: 0;
  }
  .addContactLeft {
    width: 40vw;
  }
  .addContactMiddle {
    width: 20vw;
  }
  .addContactRight {
    width: 38vw;
  }
}

@media (max-width: 1000px) {
  .contact-list {
    margin-left: 10px;
    margin-top: 10px;
    width: 40%;
    height: 78vh;
  }
  .contact-details {
    margin-top: 0;
  }
  .addContactPopup {
    width: 99vw;
    left: 3px;
  }
  .addContactMain {
    margin-left: 0;
    margin-right: 0;
  }
  .editContactPopup {
    left: 3px;
    width: 99vw;
  }
  .editContactMain {
    margin-left: 0;
    margin-right: 0;
  }
  .editContactLeft {
    width: 40vw;
  }
  .editCircle {
    margin-left: 0;
    margin-top: 0;
  }
  .editContactMiddle {
    justify-content: center;
    align-items: center;
  }
  .addContactLeft {
    width: 40vw;
  }
  .addCircle {
    margin-left: 0;
    margin-top: 0;
    margin-right: 0;
  }
  .addContactMiddle {
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 850px) {
  .hide-mobile-397px {
    display: none;
  }
  .contacts-content {
    margin-bottom: 48px;
  }
  .contact-list {
    width: 100%;
    margin-left: 30px;
    height: calc(100vh - 174px);
  }
  .slide-left {
    animation: none;
  }
  .contactCard {
    margin-top: 100px;
  }
  .button-add-contact-mobile {
    border: 1px solid var(--Version-2-main-color, #2a3647);
    background: var(--Version-2-main-color, #2a3647);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 110px;
    right: 24px;
    border-radius: 46px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px;
    gap: 10px;
  }
  .image-add-contact-mobile {
    width: 32px;
    height: 32px;
  }
  .button-add-contact-mobile:hover {
    background-color: #2aaae2;
    border-color: #2aaae2;
  }
  .button-edit-contact-mobile {
    display: none;
    border: 1px solid var(--Version-2-main-color, #2a3647);
    background: var(--Version-2-main-color, #2a3647);
    cursor: pointer;
    position: fixed;
    bottom: 110px;
    right: 24px;
    border-radius: 46px;
    width: 40px;
    height: 40px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px;
    gap: 10px;
  }

  .image-edit-contact-mobile {
    width: 36px;
    margin: 2px;
  }

  .button-edit-contact-mobile:hover {
    background-color: #2aaae2;
    border-color: #2aaae2;
  }

  .addContactMain {
    flex-direction: column;
    height: 650px;
    width: 100vw;
    margin-left: 5px;
    margin-right: 10px;
    margin-top: 200px;
  }

  .addContactLeft {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 0px;
    width: 95vw;
    height: 291px;
    flex-shrink: 0;
  }

  .addContactRight {
    height: 350px;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 0;
    width: 95vw;
  }

  .closeAddContact-mobile {
    display: block;
    position: fixed;
    right: 30px;
    top: 225px;
  }

  .close-img-div {
    display: none;
  }

  .addContactMiddle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: white;
    width: 95vw;
    height: 1px;
  }

  .input {
    margin-right: 12px;
    margin-left: 12px;
    margin-top: 6px;
  }

  .addCircle {
    position: fixed;
    width: 100px;
    height: 100px;
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
  }

  .addCircle-image {
    margin: 31px;
    width: 38px;
  }

  .addContactPopup {
    left: 0;
  }

  .slide-left {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
    animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }

  .inputFieldName {
    width: 341px;
  }

  .logo-edit-input {
    margin-right: 12px;
    height: 16px;
  }

  .inputField {
    margin-right: -36px;
    width: 329px;
  }

  .addContactHeadline {
    font-size: 36px;
    margin-top: 100px;
    margin-left: 20px;
    font-weight: 600;
  }

  .addContactHeadline2 {
    margin-left: 20px;
    font-weight: 300;
  }

  .line3 {
    margin-left: 20px;
    margin-top: 18px;
  }
  .createButton {
    font-weight: 600;
  }

  .editButtons {
    justify-content: center;
    margin-left: 24px;
  }

  .contact-details {
    margin-top: 0;
    width: 100%;
    padding-left: 0;
  }

  .contact-details-headline {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 45px;
  }

  .line {
    display: none;
  }

  .contacts-headline-h1 {
    font-size: 42px;
    font-weight: 700;
  }

  .line4 {
    display: block;
    width: 77px;
    height: 3px;
    background-color: #2aaae2;
    margin-top: 14px;
    margin-bottom: 30px;
  }

  .headline-h3 {
    margin-top: 8px;
    font-size: 18px;
  }

  .circleCard {
    width: 72px;
    height: 72px;
    margin: 0px;
    margin-right: 20px;
  }

  .nameId {
    font-size: 28px;
    margin: 16px;
    font-weight: 300;
  }

  .buttonsCard {
    display: none;
  }

  .nameCard {
    font-size: 30px;
    font-weight: 700;
  }

  .textCard {
    margin-bottom: 24px;
  }

  .logo-mini {
    width: 25px;
    height: 25px;
    margin-bottom: -4px;
  }

  .editContactMain {
    flex-direction: column;
    height: 650px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 200px;
  }

  .editContactPopup {
    left: 6px;
  }

  .editContactMiddle {
    height: 0;
    width: 95vw;
    justify-content: center;
    align-items: center;
  }

  .editContactLeft {
    margin-top: 0px;
    border-bottom-left-radius: 0px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    width: 95vw;
    height: 291px;
  }

  .editContactRight {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    height: 350px;
    width: 95vw;
  }

  .editContactLogo {
    display: none;
  }

  .editContactHeadline {
    font-weight: 600;
    font-size: 36px;
    margin-top: 100px;
    margin-bottom: 9px;
    margin-left: 20px;
  }

  .closeEditContact-mobile {
    display: block;
    position: fixed;
    right: 20px;
    top: 225px;
  }

  .line2 {
    margin-bottom: 100px;
    margin-left: 20px;
  }

  .editCircle {
    position: fixed;
    margin-top: 0px;
    margin-left: 0px;
  }

  .contacts-headline-arrow {
    display: block;
    position: fixed;
    right: 14px;
    width: 35px;
    cursor: pointer;
  }

  .formDiv {
    margin-right: 0;
  }

  .inputFieldName {
    margin-bottom: 20px;
    width: 90vw;
  }

  .inputField {
    width: 86vw;
  }
  
  .nameIdEdit {
    font-size: 40px;
  }
}
