<div class="box-sizing">
  <div class="sidebar">
    <!-- Logo -->
    <div class="sidbarLogo">
      <img src="./assets/img/logo-white.svg" alt="logo" />
    </div>
    <!-- Menu -->
    <div class="sidebarLinkContainer">
      <div class="sidebarLinks">
        <a id="sidebarCategorySummary" class="sidebarCategory" href="./summary.html">
          <div class="sidebarLink">
            <img class="sidebarIMG" src="./assets/img/Icons_summary.png" />
            <div class="sidebarMenuText">Summary</div>
          </div>
        </a>
        <a id="sidebarCategoryAddTask" class="sidebarCategory" href="./add_task.html">
          <div class="sidebarLink">
            <img class="sidebarIMG" src="./assets/img/Icons_add_task.png" />
            <div class="sidebarMenuText">Add Task</div>
          </div>
        </a>
        <a id="sidebarCategoryBorard" class="sidebarCategory" href="./board.html">
          <div class="sidebarLink">
            <img class="sidebarIMG" src="./assets/img/Icons_board.png" />
            <div class="sidebarMenuText">Board</div>
          </div>
        </a>
        <a id="sidebarCategoryContacts" class="sidebarCategory" href="./contacts.html">
          <div class="sidebarLink">
            <img class="sidebarIMG" src="./assets/img/Icons_contacts.png" />
            <div class="sidebarMenuText">Contacts</div>
          </div>
        </a>
      </div>
    </div>
    <!-- Datenschutz -->
    <div class="privacy">
      <div class="dataProtectionContainer" id="sidebarCategoryPrivacyPolicy">
        <span id="sidebarTextPrivacyPolicy" onclick="renderPrivacyPolicyContent()" class="dataProtection">Privacy Policy</span>
      </div>
      <div class="dataProtectionContainer" id="sidebarCategoryLegalNotice">
        <span id="sidebarTextLegalNotice" onclick="renderLegalNoticeContent()" class="dataProtection">Legal Notice</span>
      </div>
    </div>
  </div>
</div>
<div class="box-sizingResponsiv">
  <a class="sidebarCategoryResponsiv" href="./summary.html">
    <div class="sidebarLinkResponsiv">
      <img class="summaryBt" src="./assets/img/summaryBt.svg" alt="" />
      <img class="summaryBtHover" src="./assets/img/summaryBtHover.svg" alt="" />
    </div>
  </a>
  <a class="sidebarCategoryResponsiv" href="./add_task.html">
    <div class="sidebarLinkResponsiv">
      <img class="addTaskBt" src="./assets/img/addTaskBt.svg" alt="" />
      <img class="addTaskBtHover" src="./assets/img/addTaskBtHover.svg" alt="" />
    </div>
  </a>
  <a class="sidebarCategoryResponsiv" href="./board.html">
    <div class="sidebarLinkResponsiv">
      <img class="boardBt" src="./assets/img/boardBt.svg" alt="" />
      <img class="boardBtHover" src="./assets/img/boardBtHover.svg" alt="" />
    </div>
  </a>
  <a class="sidebarCategoryResponsiv" href="./contacts.html">
    <div class="sidebarLinkResponsiv">
      <img class="contactsBt" src="./assets/img/contactsBt.svg" />
      <img class="contactsBtHover" src="./assets/img/contactsBtHover.svg" />
    </div>
  </a>
</div>
